@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 40);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  display: flex;
  font-family: "space grotesk", sans-serif;
  z-index: 0;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#videoOverlay {
  position: absolute;
  top: 4vw;
  left: 4vw;
  font-family: "space grotesk";
  text-align: left;
  text-shadow: 1px 1px 8px #474747;
  color: white;
  z-index: 2;
}

h1 {
  font-size: 12vh;
  margin: 0;
  line-height: 80%;
}

h2 {
  font-weight: normal;
  font-size: 3.3vh;
  margin: 0;
}

h3 {
  font-weight: normal;
  font-size: 2vh;
  margin: 0;
}

.button-next-link,
.button-next,
.button-back,
.button-link {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3;
  color: #fff;
  font-family: "space grotesk";
}

.button-link {
  top: 5vh;
  right: 2vw;
  width: auto;
  height: auto;
}

.button-next {
  right: 2vw;
  bottom: 3vh;
  width: 2.5vw;
  height: 4vh;
}

.button-back {
  left: 2vw;
  bottom: 3vh;
  width: 2.5vw;
  height: 4vh;
}

.button-next-link {
  right: 2vw;
  bottom: 3vh;
  width: 2.5vw;
  height: 4vh;
}

.button-next-link img,
.button-next img,
.button-back img,
.button-link img {
  height: 2.9vh;
  width: auto;
}

.button-text {
  position: absolute;
  color: white;
  width: 12vw;
  font-size: 1.8vh;
}

#button-link-text {
  top: 0.2vh;
  right: 1.2vw;
}

#button-next-text1 {
  top: 0.5vh;
  right: -1vw;
}

#button-next-text2 {
  top: 0vh;
  right: -0.5vw;
}

.textbox {
  position: absolute;
  border-radius: 5px;
  left: 6vw;
  height: auto;
  width: 22vw;
  box-shadow: none;
  color: rgb(234, 234, 234);
  z-index: 3;
  transition: opacity 1s ease-in-out;
  background: rgba(255, 255, 255, 0); /* Halbtransparenter Hintergrund */
  backdrop-filter: blur(2px); /* Weichzeichnungseffekt */
  padding: 1vh;
}

.textbox-title {
  font-size: 1.8vh;
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.textbox-content {
  font-size: 1.8vh;
  font-weight: 400;
  margin: 0;
}

.textbox-intro {
  top: 50vh;
  transform: translateY(-50%);
  text-shadow: 2px 2px 8px #2a2a2a;
}

.textbox-permafrost {
  top: 50%;
  transform: translateY(-50%);
}

.textbox-alaska {
  top: 50%;
  transform: translateY(-50%);
}

.textbox-alaska,
.textbox-sibirien {
  top: 50%;
  transform: translateY(-50%);
}

.textbox-bodenabsackung {
  top: 10vh;
}

.textbox-murgang {
  top: 10vh;
}

.textbox-treibhausgas {
  top: 10vh;
}

.overlay-svg {
  position: absolute;
  bottom: -7.5%;
  width: 100%;
  height: 115%;
  z-index: 2; /* Ensure it is above the background image */
  transition: opacity 1s ease-in 0.3s ease-out;
}

.main-map svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.svg-future {
  width: 33.3333%;
  height: 100%;
  z-index: 1;
}

/* Font Class */
.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-decoration: none;
}

/* Font Size */
.font-m {
  font-size: 15px;
  line-height: 17px;
}

/* Subnav Show */
.subnav-show {
  cursor: pointer;
  padding: 3px;
}

.subnav-show a {
  color: grey;
  opacity: 1;
  transition: 0.3s;
  margin-left: 10px;
}

.subnav-show:hover a {
  opacity: 1;
  transition: 0.2s;
}

/* Overlay */
.landing {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: block;
  z-index: 4;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow: auto;
  padding: 2vh 2vw;
}

#titel-permafrost {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 33vw;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.landing h1 {
  font-size: 113px;
  padding: 0;
  margin: 0;
}

.landing h2 {
  font-size: 48px;
  text-align: right;
  padding: 0;
  margin: 0;
}

.landing h3 {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.landing p {
  font-size: 15px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.landing #navigation {
  position: absolute;
  top: 1.5625vh;
  right: 5vw;
  display: inline-flex;
  gap: 1vh;
}

.landing .btn-nav,
.landing .btn-aktuell,
.landing .btn-zukunft {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: none;
  cursor: pointer;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.landing .btn-nav {
  padding: 5px 10px;
  font-size: 15px;
}

.landing .btn-aktuell,
.landing .btn-zukunft {
  font-size: 20px;
  width: 14.7915vw;
  height: 12vh;
  outline: 1px solid white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .btn-nav:hover {
  color: grey;
  transition: 0.2s;
}

.landing .btn-aktuell:hover,
.landing .btn-zukunft:hover {
  background-color: rgb(49, 49, 49);
  transition: 0.2s;
}

.landing .containerThemen {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  position: absolute;
  height: auto;
  left: 9.7395vw;
  right: 9.7395vw;
  bottom: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3vh;
}

.landing .container {
  width: 100%;
}

.landing #containerRCP {
  width: 14.7915vw;
  padding: 0;
  margin-left: auto;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.landing #containerGrndtmp,
.landing #containerAlt {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1vh;
}

.landing .button-container-zukunft,
.landing .button-container-aktuell {
  display: flex;
  justify-content: space-between;
  width: 14.7915vw;
}

.landing #titel-rcp,
.landing #text-rcp {
  width: 100%;
}

.landing #titel-alt,
.landing #titel-grndtmp {
  width: 22.9685vw;
}

.landing #text-alt,
.landing #text-grndtmp {
  width: 22.9685vw;
}

.landing #umriss-container {
  position: absolute;
  bottom: 115px;
  right: 9.2vw;
  width: 33.7vw;
  height: 345px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.9vw;
}

.landing .umriss {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 1.5px dashed white;
  color: white;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#titel-nav-bar h4 {
  margin: 0;
  width: 300px;
  margin-left: 1vw;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  color: white;
}

h5 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

h6 {
  margin-bottom: 0;
  margin-top: 0.5vh;
  font-size: 13px;
  line-height: 15px;

  font-weight: 400;
}

.nav-bar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 3;
}

#btn-container-mitte {
  padding-top: 5px;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.btn-container-rechts {
  padding-top: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: right;
  height: 95%;
  width: 300px;
}

.btn-rechts {
  color: white;
  padding-top: 6px;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.btn-container {
  padding-top: 6px;
  text-align: right;
}

.btn-rechts:hover {
  transition: 0.3s;
  color: grey;
}

#btn-alt:hover,
#btn-grndtmp:hover,
#btn-grndtmp-prognose:hover,
#btn-alt-prognose:hover {
  transition: 0.2s;
  color: rgb(255, 255, 255);
}

.active {
  color: white !important;
}

#map1,
#map2,
#map3 {
  width: 33.3333%;
  height: 100%;
  z-index: 1;
}

.beschreibung-container-alt,
.beschreibung-container-grndtmp {
  position: absolute;
  width: 20vw;
  left: 1vw;
  top: 80px;
  color: white;
  background-color: rgba(67, 67, 67, 0.9);
  padding: 10px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
}

#slider-shadow {
  position: absolute;
  z-index: 3;
  height: 1000px;
  width: 56vw;
  top: 90%;
  left: 22vw;
  border-radius: 40px 40px 0 0;
  background: rgb(40, 40, 40);
  filter: blur(15px);
}

.range-slider-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2%;
  bottom: 40px;
  position: absolute;
  z-index: 3;
}

.range-slider-line {
  width: 50.1%;
  height: 1.6vh;
  position: relative;
}

.range-slider-line .baseline {
  position: absolute;
  bottom: 0;
}

.range-slider-zahlen-container {
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2%;
  bottom: 17px;
  position: absolute;
  z-index: 3;
}

.range-slider-zahlen {
  width: 50%;
  height: 2vh;
  position: relative;
}

.range-slider-zahlen .zahl {
  text-align: center;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 40px;
  position: absolute;
  z-index: 4;
}

.range-slider {
  width: 50%;
  position: relative;
}

#rs-range-line {
  width: 50vw;
  height: 15px;
  background-color: transparent;
  -webkit-appearance: none;
}

input::-webkit-slider-thumb {
  width: 6px;
  height: 30px;
  background-color: rgb(40, 40, 40);
  border: 2px solid white;
  border-radius: 3px;
  -webkit-appearance: none;
  z-index: 4;
}

.bar-chart {
  position: absolute;
  top: 80px;
  right: 1vw;
  width: 320px;
  height: 190px;
  z-index: 3;
  background-color: rgba(67, 67, 67, 0.9);
  display: inline-block;
}

.bar-chart svg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0.5vh;
}

.grid-label,
.chart-label,
.bar-label {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.legende svg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0.5vh;
}

.quadrat {
  width: 1vw;
  height: 1vw;
}

.legende-label {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.legende-titel {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.divider {
  position: absolute;
  width: 2px;
  top: 60px;
  height: 100%;
  background-color: rgb(150, 150, 150);
  z-index: 2;
}

.divider1 {
  left: 33.3333%;
}

.divider2 {
  left: 66.6666%;
}

.overlay-background-blur {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 99;
}

.overlay {
  position: absolute;
  width: 60vh;
  height: 80vh;
  background-color: rgb(40, 40, 40);
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 18px;
  display: none;
  flex-direction: column;
  gap: 2px;
}

.overlay h5 {
  margin: 0;
  font-size: 2vh;
  font-weight: 600;
}

.overlay p {
  font-size: 1.5vh;
  text-align: left;
  padding: 0;
  margin: 0;
}

.overlay a {
  color: white;
  font-size: 1.5vh;
  text-align: left;
  padding: 0;
  margin: 0;
}

.rcp {
  position: absolute;
  color: white;
  font-size: 1.5vh;
  text-align: left;
  padding: 0;
  margin: 0;
  z-index: 2;
  top: 75px;
}

#r26 {
  left: 1vw;
}

#r45 {
  left: 35vw;
}

#r85 {
  left: 68vw;
}
