html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 40);
  overflow: hidden;
  display: flex
}

.main-map svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.svg-future {
  width: 33.3333%;
  height: 100%;
  z-index: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: block;
  z-index: 4;
  color: white;
  font-family: "space grotesk";
  overflow: auto;
  padding: 2vh 2vw;
}

#titel-permafrost {
  position: absolute;
  top: 1.5625vh;
  left: 1.5625vw;
  width: 33vw;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "space grotesk";
}

.overlay h1 {
  font-size: 11.3vh;
  padding: 0;
  margin: 0;
}

.overlay h2 {
  font-size: 5vh;
  text-align: right;
  padding: 0;
  margin: 0;
}

.overlay h3 {
  font-size: 2vh;
  padding: 0;
  margin: 0;
}

.overlay p {
  font-size: 1.5vh;
  text-align: left;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  padding: 0;
  margin: 0;
}

.overlay #navigation {
  position: absolute;
  top: 1.5625vh;
  right: 5vw;
  display: inline-flex;
  gap: 1vh;
}

.overlay .btn-nav,
.overlay .btn-aktuell,
.overlay .btn-zukunft {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  outline: none;
  cursor: pointer;
  z-index: 2;
  color: white;
}

.overlay .btn-nav {
  font-size: 1.5vh;
  padding: 5px 10px 5px 10px;
}

.overlay .btn-aktuell,
.overlay .btn-zukunft {

  font-size: 2vh;
  width: 14.7915vw;
  outline: 1px solid white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay .btn-nav:hover,
.overlay .btn-aktuell:hover,
.overlay .btn-zukunft:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.overlay .containerThemen {
  font-family: "space grotesk";
  color: white;
  position: absolute;
  height: auto;
  left: 9.7395vw;
  right: 9.7395vw;
  top: 30vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3vh;
}

.overlay .container {
  width: 100%;
}

.overlay #containerRCP {
  width: 14.7915vw;
  padding: 0;
  margin-left: auto;
  font-size: 100;
  font-family: "space grotesk";
}

.overlay #containerGrndtmp,
.overlay #containerAlt {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1vh;
}

.overlay .button-container-zukunft,
.overlay .button-container-aktuell {
  display: flex;
  justify-content: space-between;
  width: 14.7915vw;
}

.overlay #titel-rcp,
.overlay #text-rcp {
  width: 100%;
}

.overlay #titel-alt,
.overlay #titel-grndtmp {
  width: 22.9685vw;
}

.overlay #text-alt,
.overlay #text-grndtmp {
  width: 22.9685vw;
}

.overlay #umriss-container {
  position: absolute;
  top: 51.7vh;
  right: 9.2vw;
  width: 33.7vw;
  height: 33vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.9vw;
}

.overlay .umriss {
  display: flex;
  align-items: flex-end;
  /* Align items at the bottom */
  justify-content: center;
  /* Center horizontally */
  width: 100%;
  height: 100%;
  outline: 1.5px dashed white;
  color: white;
  text-align: center;
  font-family: "space grotesk";
}

h4 {
  margin: 0;
  margin-left: 3vw;
  padding: 0;
  font-family: "space grotesk";
  font-size: 4vh;
  color: white;
}

h5 {
  margin: 0;
  font-size: large;
}

h6 {
  margin-bottom: 0;
  margin-top: 0.5vh;
  font-size: 1.5vh;
  font-weight: 400;
}

.nav-bar {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  height: 6vh;
  width: 100vw;
  z-index: 3;
}



#btn-container-mitte {
  display: inline-flex;
  margin: 0;
  height: 100%;
}

#btn-container-rechts {
  margin-right: 2vw;
  height: 100%;
  width: auto;
}

.btn-div-container {
  display: inline-flex;
  margin-top: 0.5vh;
  margin-left: 1vw;
  width: auto;
  height: 100%;
  flex-direction: column;
  gap: 0.6vh;
}

#btn-intro,
#btn-home,
#btn-alt,
#btn-grndtmp,
#btn-grndtmp-prognose,
#btn-alt-prognose,
#btn-credits {
  font-family: "space grotesk";
  font-size: 1.5vh;
  color: white;
  height: 2vh;
  background-color: transparent;
  border: none;
  z-index: 2;
  text-decoration: none;
}

#btn-intro:hover,
#btn-home:hover,
#btn-alt:hover,
#btn-grndtmp:hover,
#btn-grndtmp-prognose:hover,
#btn-alt-prognose:hover,
#btn-credits:hover {
  color: rgb(169, 169, 169);
}

#map1,
#map2,
#map3 {
  width: 33.3333%;
  height: 100%;
  z-index: 1;
}

.beschreibung-container-alt,
.beschreibung-container-grndtmp {
  position: absolute;
  width: 20vw;
  left: 3vw;
  top: 10vh;
  color: white;
  font-family: "space grotesk";
  z-index: 2;
}

#slider-shadow {
  position: absolute;
  z-index: 3;
  height: 8vh;
  width: 55vw;
  bottom: 0;
  left: 22.5vw;
  border-radius: 2vh 2vh 0 0;
  background: rgb(40, 40, 40);
  filter: blur(2vh);
  /* Passt den Blur-Wert nach Bedarf an */
}

.range-slider-line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2%;
  bottom: 4%;
  position: absolute;
  z-index: 3;
}

.range-slider-line {
  width: 50.1%;
  height: 1.6vh;
  position: relative;
}

.range-slider-line .baseline {
  position: absolute;
  bottom: 0;
  /* Position baseline at the bottom */
}

.range-slider-zahlen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2%;
  bottom: 2%;
  position: absolute;
  z-index: 3;
}

.range-slider-zahlen {
  width: 50%;
  height: 2vh;
  position: relative;
}

.range-slider-zahlen .zahl {
  text-align: center;
  font-family: "space grotesk";
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 4.5%;
  position: absolute;
  z-index: 4;
}

.range-slider {
  width: 50%;
  position: relative;
}

#rs-range-line {
  width: 50vw;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
}

input::-webkit-slider-thumb {
  width: 5px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
  stroke: black;
  stroke-width: 1px;
  top: -10px;
  -webkit-appearance: none;
  z-index: 4;
}

.bar-chart {
  position: absolute;
  top: 10vh;
  right: 3vw;
  width: 18vw;
  height: 18.5vh;
  z-index: 3;
  background-color: rgb(67, 67, 67);
  display: inline-block
}

.bar-chart svg{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0.5vh;
}

.bar-label {
  font-family: "space grotesk";
}

.grid-label {
  font-family: "space grotesk";
}

.chart-label {
  font-family: "space grotesk";
}

.legende svg {
  position: absolute;
  z-index: 1;
  width: calc(100% - 2vh);
  height: calc(100% - 2vh);
  margin: 0.5vh;
}

.quadrat {
  width: 1vw;
  height: 1vw;
}

.legende-label {
  font-family: "space grotesk";
  color: white;

}

.legende-titel {
  font-family: "space grotesk";
}

#titel-permafrost {
  position: absolute;
  top: 1.7vh;
  left: 1.5625vw;
  width: 33vw;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "space grotesk";
}

.divider {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgb(150, 150, 150);
  z-index: 2;
}

.divider1 {
  left: 33.3333%;
}

.divider2 {
  left: 66.6666%;
}